* {
    font-family: Open sans;
}

#button-div {
	flex: 1;
	width: 60%;
	height: 70;
	float: left;
	margin-top: 50;
}

#tube-name-table {
    flex: 1;
    float: left;
    margin-left: 15%;
	width: 700px;
	height: 200px;
}

.tube-title {
    flex: 1;
    width: 45%;
    height: 20px;
    float: left;
    text-align: right;
    margin-right: 2%;
}
.name-title {
    text-align: right;
}
.tube-num-label {
    text-align: center;
}
.tube-input {
    text-align: left;
    padding: 20;
}
.tube-input-box {
    width: 50%;
    marginLeft: 25%
}
.IODR-button {
    flex: 1;
    margin-right: 10%;
	margin-top: 30px;
	float: left;
}
.download-button {
    flex: 1;
    margin-right: 10%;
    margin-top: 30px;
    float: right;
}
#update-button {
    flex: 1;
    float: right;
    margin-right: 10%;
    margin-top: 90px;
}
#clear-button {
    flex: 1;
    float: right;
    margin-right: 10%;
    margin-top: 90px;
}
#download-table-button {
    flex: 1;
    float: right;
    margin-right: 10%;
    margin-top: 90px;
}
#update-div {
    height: 300px;
}

H4{
    margin-bottom: 5px;
}
