* {
    font-family: Arial, Helvetica, sans-serif, verdana;
}

#button-div {
	flex: 1;
	width: 40%;
	height: 100;
	float: left;
	margin-top: 50;
}

#tube-name-table {
    flex: 1;
    float: left;
    margin-left: 15%;
	width: 500px;
	height: 200px;
}

.tube-title {
    flex: 1;
    width: 45%;
    height: 20px;
    float: left;
    text-align: right;
    margin-right: 2%;
}
.name-title {
    text-align: right;
}
.tube-num-label {
    text-align: center;
}
.tube-input {
    text-align: left;
}
.IODR-button {
    flex: 1;
    margin-right: 30px;
	margin-top: 50px;,
}
#rename-button {
    flex; 1;
    float: right;
    margin-right: 15%;
    margin-top: 90px;
}
#rename-div {
    height: 300px;
}
H4{
    margin-bottom: 5px;
}